.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #13072a;
  background-image: url("./img/SB skull.png");
  background-size: 300px 300px;
  background-position: 20px 40px;
  position: inherit;
  animation: diagonal linear 10s infinite;
  z-index: -2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes diagonal {
  from{background-position-x: 0px; background-position-y: 0px;}
  to{background-position-x: 150px; background-position-y: -150px;}
}

img{
  height: 300px;
  /* min-width: 100%; */
  /* z-index: 1; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
