.main {
  /* text-align: center; */
  color: goldenrod;
  overflow: hidden;
}

.hoc{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  z-index: 2;
}

.bg_img{
  position: absolute;
  width: 100%;
  /* transform: translateX(-30%); */
  z-index: -1;
  /* bottom: -450vh; */
  /* bottom: 100%; */
}

.sky{
  top: 0;
}

.bg_1{
  top: 120vh;
}

.hotel{
  /* position: relative; */
  /* top: 10vh; */
}

.logo_container{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.sb-logo{
  position: absolute;
  z-index: 1;
  height: 500px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.fg_2{
  top:170vh;
}

.fg_1{
  top:300vh;
}

section{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #000;
}

@media screen and (max-width: 900px) {
  .sb-logo{
      /* height: clamp(200px, 900px, 500px); */
      height: 200px;
  }
}

/* .background {
  position: inherit;
  top: 0;
  min-height: 100vh;
  background-color: #13072a;
  background-image: url("./components/img/SB skull.png");
  background-size: 300px 300px;
  background-position: 20px 40px;
  animation: diagonal linear 10s infinite;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
